/* #region commons */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --db-light: #ffffff;
    --db-jumbo: #b4d0e7;
    --db-dark: #000000;
    --db-button: #0061ff;
    --db-teamprimary: #f5f5f5;
    --db-teamdesign: #a2d39b;
    --db-teamdesignb: #d1e9cd;
    --db-teamasu: #61082b;
    --db-teamflo: #0093ce;
    --db-teamtop: #ff1c1c;
    --db-teamworld: #d5001f;
    --db-teamhearts: #b4d0e7;
    --db-teamlonely: #0d2481;
    --db-teamclear: #ffd830;
    --db-grenade: #610a2c;
}

/* #endregion commons */

/* #region utilities */

.flex
{
    display: flex;
}

.container
{
    width: 70%;
    margin: auto;
}

/* #endregion utilities */

body 
{
    font-family: 'Open Sans', sans-serif;
}

/* #region header */

.debug #menu_left
{
    height: 3rem;
    width: 50%;
    background-color: red;
}

.debug #menu_right
{
    height: 3rem;
    width: 50%;
    background-color: yellow;
}

/* #endregion header */

/* #region main */

/* #region jumbotron */

#jumbotron
{
    background-color: var(--db-jumbo);
    padding-top: 5rem;
}

/* #region jumbotron */

/* #region allyouneed */

.debug #jumbotron
{
    height: 40rem;
    width: 100%;
}

.debug .allyouneed
{
    height: 35rem;
    background-color: green;
}

.debug .allyouneed_top
{
    background-color: red;
    height: 35%;
}

.debug .allyouneed_bottom
{
    background-color: yellow;
    height: 65%;
}

.debug .need_text
{
    background-color: blue;
    width: 30%;
}

.debug .need_img
{
    background-color: orange;
    width: 70%;
}

/* #endregion allyouneed */


/* #endregion main */
