/* #region commons */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --db-light: #ffffff;
    --db-jumbo: #b4d0e7;
    --db-dark: #000000;
    --db-button: #0061ff;
    --db-teamprimary: #f5f5f5;
    --db-teamdesign: #a2d39b;
    --db-teamdesignb: #d1e9cd;
    --db-teamasu: #61082b;
    --db-teamflo: #0093ce;
    --db-teamtop: #ff1c1c;
    --db-teamworld: #d5001f;
    --db-teamhearts: #b4d0e7;
    --db-teamlonely: #0d2481;
    --db-teamclear: #ffd830;
    --db-grenade: #610a2c;
}

h2
{
    font-size: 3rem;
}

h3
{
    font-size: 1.5rem;
}

ul
{
    list-style: none;
}

button
{
    text-decoration: none;
    border: none;
    text-align: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

section
{
    margin-bottom: 10rem;
}


/* #endregion commons */

/* #region utilities */

.flex
{
    display: flex;
}

.container
{
    width: 70%;
    margin: auto;
}

.small_container 
{
    width: 60%;
    margin: auto;
}

.pl-2
{
    padding-left: 2rem;
}

.my-plans
{
    margin: 4rem 0;
    line-height: 3rem;
}

/* #endregion utilities */

body 
{
    font-family: 'Open Sans', sans-serif;
    max-width: 2000px;
    min-width: 1700px;
    scroll-behavior: smooth;
    color: var(--db-dark);
}

/* #region header */

.app-header
{
    line-height: 3rem;
    justify-content: space-between;
    background-color: var(--db-light);
    position: sticky;
}

.menu_left
{
    width: 50%;
}

#logo
{
    max-width: 100%;
    vertical-align: middle;
}

.navigation_left,
.navigation_right
{
    justify-content: space-around;
    width: 30rem;
    font-size: 0.8rem;
}

.navigation_left button,
.navigation_right button
{
    height: 100%;
    background-color: var(--db-light);
}

/* #endregion header */

/* #region main */

/* #region jumbotron */

#jumbotron
{
    background-color: var(--db-jumbo);
    margin-bottom: 5rem;
}

#jumbotron h1
{
    font-size: 4.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: var(--db-dark);
}

.allyouneed
{
    height: 100%
}


.allyouneed_bottom
{
    position: relative;
}

.jumbo_text
{
    width: 30%;
    max-height: 100%;
    font-size: 1.2rem;
    color: var(--db-dark);
}


.jumbo_text button
{
    background-color: var(--db-button);
    color: var(--db-light);
    margin: 2rem 0;
    font-size: 1.2rem;
}

.arrow
{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: var(--db-dark);
}


#jumbotron img
{
    max-width: 100%;
}

.jumbo_img
{
    width: 70%;
    margin-bottom: -5rem;
}

/* #region jumbotron */

/* #region plans */

.type_planstop > .billing
{
    padding: 2rem 0;
}

.billing_type
{
    margin-right: 3rem;
}


.type_plansbottom
{
    flex-wrap: wrap;
    justify-content: space-between;
}

.single_plans
{
    font-size: 0.9rem;
}

.single_plans
{
    border: 1px solid var(--db-dark);
    width: calc(100% / 3 - 2rem);
}

.single_plans .rectangle
{
    border: 1px solid var(--db-dark);
    padding: 1rem 0;
    font-size: 0.8rem;
    text-align: center;
}

.single_plans h3
{
    font-size: 1.5rem;
}

.single_plans hr
{
    width: 5rem;
}

.horizontal
{
    margin-top: 2rem;
    width: 100%;
    position: relative;
    padding-bottom: 2rem;
}

#sp_button
{
    position: absolute;
    right: 1rem;
    top: 8rem;
}

.single_plans button
{
    background-color: var(--db-button);
    color: var(--db-light);
}

.dettails .check
{
    color: var(--db-button);
}
/* #endregion plans */

/* #region partner */

.contact_left
{
    width: 60%;
}

.contact_left img
{
    max-width: 100%;
}

.contact_right
{
    width: 40%;
    padding: 5rem 3rem;
}

/* .contact_right h3
{
    font-size: 1.5rem;
} */

.contact_right p
{
    margin: 3rem 0;
}

.contact_right button
{
    background-color: var(--db-light);
    border: 1px solid var(--db-dark);
}

/* #endregion partner */

/* #region business */

.more_operation h2
{
    line-height: 6rem;
}

.more_operationbottom
{
    flex-wrap: wrap;
    justify-content: space-between;
}

.operations
{
    width: 30%;
    margin-bottom: 3rem;
}

.operations img
{
    max-width: 100%;
}

/* #endregion business */

/* #region team */

.debug .more_team
{
    background-color: red;
    height: 20rem;
}

/* #endregion team */

/* #region leaders_team */

.debug .leaders_team
{
    height: 30rem;
    margin-top: 5rem;
}


.leaders
{
    width: calc(100% / 3);
}

.leaders.left
{
    background-color: yellow;
    height: 30rem;
}

.leaders.center
{
    background-color: blue;
    height: 30rem;
}

.leaders.right
{
    background-color: green;
    height: 30rem;
}

/* #endregion leaders_team */

/* #region banner */

#banner
{
    background-color: var(--db-jumbo); 
}

.debug #banner
{
    height: 20rem;
}

.debug .company
{
    background-color: red;
    height: 20rem;
}

.debug .company_left
{
    background-color: yellow;
    width: 50%;
}

.debug .company_right
{
    background-color: red;
    width: 50%;
}

/* #endregion banner */

/* #region frequent_questions */

.frequent_question
{

}

.debug .questions
{
    background-color: blue;
    height: 30rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

/* #endregion frequent_questions */

/* #endregion main */

/* #region footer */

#app-footer
{
    background-color: var(--db-dark);
}

.debug #app-footer
{
    height: 30rem;
}

.debug .top_footer
{
    background-color: red;
    height: 70%;
}

.debug .bottom_footer
{
    background-color: blue;
    height: 30%;
}

.debug .info
{
    background-color: yellow;
    border: 2px solid green;
    width: calc(100% / 5);   
}

/* #endregion footer */
